body{
    background-color: blueviolet;
    color: brown;
    font-family: "monsieur",la-doulaise;
    margin: 0px;
    margin-bottom: 100px;
}

header {
    border: solid 2px brown ;
    font-size: 32px;
    padding: 10px;
    color: crimson;
}

.chamada{
background-color: #e635d0;
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
p {
    font-size: 16px;
    color: aqua;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos{
    display: flex;
    overflow: auto;
    gap: 10px;
}

.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}

.caregoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid purple;
}

.categoria h2{
    color: pink;
}